---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import {BASE, ROOT, TITLE, LINE} from "../../styles/style";

const posts = (await getCollection('log')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html class={ROOT} lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class=`${BASE} text-center text-2xl`>
			<p class={TITLE}>~/posts</p>
			<hr class=`my-6 ${LINE}`>
			<section>
				<ul>
					{
						posts.map(({slug, data:{title, pubDate}}) => (
							<li class="my-6">
								<a href={`/log/${slug}/`}>
									<h4 class="font-bold">{title}</h4>
									<p>
										<FormattedDate date={pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
