---
import Header from '../components/Navigation.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';
const pageTitle = 'about me';
const identity = {
    firstName: 'Greg',
    country: 'usa',
    occupation: 'student',
    hobbies: ['music', 'programming', 'front-end']
};
const skills = ["HTML", "CSS", "JavaScript", "Webpack", "Astro"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = 'bold';
const textCase = 'uppercase';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
                color:purple;
                font-size: 4rem;
            }
            .skill {
                color:var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
	</head>
	<body>
		<h1>gregory pappas</h1>
        <h2>{pageTitle}</h2>
        <Header/>
        <li>My name is {identity.firstName}</li>
        <li>I live in {identity.country} and I am a {identity.occupation}.</li>
        <p>my hobbies are:</p>
        <ul>
            {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
        </ul>
        <p>my skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p> I am happy</p>}
        {finished && <p>I am finished</p>}
        {goal === 3 ? <p>I finished in three days</p>: <p>I did not finish in three days.</p>}
        <Footer/>
	</body>
</html>
