---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ROOT, BASE, TITLE, SUBTITLE, LINE, PARA, PROJECT_TITLE, LINK } from "../styles/style";
---

<!doctype html>
<html class={ROOT} lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class={BASE}>
			<p class={TITLE}>~/{SITE_TITLE}</p>
			<p class={SUBTITLE}>skills</p>
			<hr class={LINE}>
			<p class=`${PARA} sm:text-xl`>React, Astro, Typescript, JavaScript, HTML, TailwindCSS, CSS, Node, Express, Docker, PostgreSQL, Git, Vite, Figma, Photoshop</p>
			<p class={SUBTITLE}>projects</p>
			<hr class={LINE}>
			<div class={PARA}>
				<p class={PROJECT_TITLE}>audioo</p>
				<p class="italic">Promotes focus, relaxation, and sleep through playing a variety of sounds. </p>
				<ul>
					<li>Front-end: React, Typescript, React Howler, React Router, Tailwind CSS, Vite Image Tools, Vite, Netlify</li>
					<li class={LINK}><a href="https://github.com/gnprwx/audioo" target="_blank">github repository</a></li>
					<li class={LINK}><a href="https://audioo.org" target="_blank">audioo.org</a></li>
				</ul>
			</div>
			<div class={PARA}>
				<p class={PROJECT_TITLE}>songification</p>
				<p class="italic">Provides Spotify song recommendations by anonymous user submissions.</p>
				<ul>
					<li>Front-end: React, Typescript, Tailwind CSS, Axios, Vite, Render</li>
					<li>Back-end: Express, Javascript, postgreSQL, Render</li>
					<li class={LINK}><a href="https://github.com/gnprwx/songification" target="_blank">github repository</a></li>
				</ul>
			</div>
			<div class={PARA}>
				<p class={PROJECT_TITLE}>haole handyman</p>
				<p class="italic">Designed for an Oahu-based business that performs house renovations and repairs.</p>
				<ul>
					<li>Front-end: React, Typescript, React Router, Tailwind CSS, Vite, Netlify</li>
					<li class={LINK}><a href="https://github.com/gnprwx/haole-handyman" target="_blank">github repository</a></li>
					<li class={LINK}><a href="https://haolehandyman.com" target="_blank">haolehandyman.com</a></li>
				</ul>
			</div>
			<div class={PARA}>
				<p class={PROJECT_TITLE}>null message board</p>
				<p class="italic">Anonymous message board, utilizing session-unique usernames to write posts under.</p>
				<ul>
					<li>Front-end: HTML, CSS, JavaScript, Render</li>
					<li>Back-end: Node, Express, PostgreSQL, Render</li>
					<li class={LINK}><a href="https://github.com/gnprwx/nullmb" target="_blank">github repository</a></li>
				</ul>
			</div>
		</main>
		<Footer />
	</body>
</html>
